body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

@font-face {
    font-family: 'SensaBrush';
    src: url('../../../public/fonts/sensa-brush/SensaBrush-FillDemo.otf') format('opentype');
    font-weight: normal; /* ou bold, se aplicável */
    font-style: normal; /* ou italic, se aplicável */
  }